body {
  background: var(--background-color);
  font-family: system-ui, -apple-system, "Roboto", sans-serif;
  --text-color: #1e1e1e;
  --background-color: #3586ff;
  --active-button-color: #3575ff;
  --non-active-button-color: #3580ff;
  --left-bar-size: 20%;
  --right-bar-size: 80%;
}

h3 {
  color: var(--text-color);
}

h2 {
  color: var(--text-color);
}

h1 {
  color: var(--text-color);
}

p {
  color: var(--text-color);
}

.row {
  display: flex;
  height: 100%;
}

.chats {
  flex: var(--left-bar-size);
}

.chat {
  height: 30pt;

  margin-left: 4pt;
  margin: 0pt;
  padding: 4pt;

  box-sizing: border-box;
}

.name {
  margin-left: 5pt;
}

.messages {
  flex: var(--right-bar-size);
  margin-left: 4pt;

  display: flex;
  flex-direction: column;
}

.chat-row {
  display: flex;

  /* scroll */
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 0px;
}

.message {
  margin: 4pt;
  border: 4pt;
  box-sizing: border-box;
}

.messages-fields {
  padding: 2pt;
  flex: 90%;
}

.message-empty {
  padding: 2pt;
  flex: 0%;
  height: 50px;
}

.bottom-panel {
  bottom: 5px;
  left: 5px;

  display: flex;
}

.open-button {
  background-color: var(--active-button-color);
  color: var(--text-color);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;

  flex: var(--left-bar-size);
}

.send-container {
  flex: var(--right-bar-size);
  background: var(--background-color);
  padding: 16px 20px;

  display: flex;
}

.form-field {
  flex: 95%;
}

.text-filed {
  width: 98%;
  outline: none;
  border: none;

  /* margin: 4pt;
  border: 4pt; */
}

.button-field {
  flex: 5%;
  /* margin: 4pt;
  border: 4pt; */

  outline: none;
  border: none;
}

[message-color] {
  background: #3575ff !important;
  --bbColor: #3575ff !important;
  cursor: pointer;
}

[chat-non-active-color] {
  background: #3580ff !important;
  --bbColor: #3580ff !important;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .chats {
    visibility: hidden;
    display: none;
  }

}


/* TODO fix overflow */
/* body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none;
} */

/* html, body {
  height: 100%;    
} */