body {
  /* display: flex;
  flex-direction: column; */
  background: #3586ff;
}

h3 {
  /* color: azure; */
}

.row {
  display: flex;
}

.chats {
  flex: 20%;
}

.chat {
  height: 30pt;
  /* border: 1px solid;
  padding: 1pt 1pt 1pt 0pt; */
  /* border-color: azure; */
}

.name {
  margin-left: 5pt;
}

.messages {
  flex: 80%;
  margin-left: 4pt;
  margin: 2pt;
  padding-top: 2pt;
}

.chat_row {
  display: flex;
}

.received {
  padding: 2pt;
  flex: 100%;
}

[message-color] {
  background: #3575ff !important;
  --bbColor: #3575ff !important;
}

/* .sent {
  padding: 2pt;
  flex: 50%;
} */
